# Server
fastapi
uvicorn[standard]
python-multipart
jinja2

# Data
pandas
numpy
scikit-learn

# Drive
gspread
oauth2client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-api-python-client

# Visualize
matplotlib
seaborn
